html{
  font-size: 32px;
}
@import "nomallize";
@include normalize(mobile);
@function rem($px, $base-font-size: 32px) {
  @return ($px / $base-font-size) * 1rem;

}
.caosAppContainer{
  width: 100%;
  height: 100vh;
  background: #1C2B3E;
  .caosAppWelcome{
    position: relative;
    top:rem(220px);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    font-size: rem(16px);
    line-height: rem(36px);
    text-align: center;
  }
  .caosAppDraw{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom:0;
    right: 0;
    z-index: 4;
    .caosAppDrawPanel{
      width: 100%;
      margin: rem(80px) auto;
      height: rem(295px);
      position: relative;
      //border: 1px solid #fff;
      z-index: 5;
      .caosAppDrawParticle{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        width: 100%;
        height: 100%;
      }
      .caosAppDrawLight{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        width: 100%;
        height: 100%;
      }
    }
    .caosAppDrawWord{
      color: #fff;
      font-size: rem(16px);
      line-height: rem(36px);
      position: absolute;
      bottom:rem(30px);
      width: 100%;
      text-align: center;
      display: none;
      .caosAppDrawYourPos{
        margin: 0 auto;
        padding:0 rem(30px);
        width: rem(140px);
        display: inline-block;
        background: #DE5145;/*5F6B91*/
        border-radius: rem(38px);
      }
      .caosAppDrawPreview{
        color: #807d99;
      }
    }
  }
  .caosAppDrawMask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom:0;
    right: 0;
    z-index: 1;
    opacity:0.1;
    display: none;
    background: #1C2B3E url("../image/1495509310212147.jpeg") no-repeat center 50%;
    background-size: contain;
  }
}