html{
  font-size: 32px;
}
@import "nomallize";
@include normalize(mobile);
@function rem($px, $base-font-size: 32px) {
  @return ($px / $base-font-size) * 1rem;

}
.caosAppContainer{
  width: 100%;
  height: 100vh;
  background: #1C2B3E;
  .caosAppWelcome{
    position: relative;
    top:rem(220px);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff;
    font-size: rem(16px);
    line-height: rem(36px);
    text-align: center;
  }
  .caosAppDraw{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom:0;
    right: 0;
    .caosAppDrawPanel{
      width: 100%;
      margin: rem(80px) auto;
      height: rem(295px);
      //background: #fff;
      position: relative;
      .caosAppDrawParticle{
        width: rem(280px);
        height: rem(160px);
        //background: #ff0000;
        position: absolute;
        left: 50%;
        margin-left: rem(-140px);
        margin-top: rem(-80px);
        top:50%;
        &.active{
            width: 100%;
          height: 100%;
          margin: 0 auto;
          left: 0;
          top:0;
          div{
            margin: 0 auto !important;
            canvas{
              margin: 0 auto !important;
            }
          }
        }
      }
      .caosAppDrawLight{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        width: 100%;
        height: 100%;
      }
    }
    .caosAppDrawWord{
      color: #fff;
      font-size: rem(16px);
      line-height: rem(36px);
      position: absolute;
      bottom:rem(30px);
      width: 100%;
      text-align: center;
      display: none;
      .caosAppDrawYourPos{
        margin: 0 auto;
        padding:0 rem(30px);
        width: rem(140px);
        display: inline-block;
        background: #DE5145;
        border-radius: rem(38px);
      }
    }
  }
}